img{
    width: 300px;
    margin-left: 220px;


}

.cabecalho{
  background-color: pink;
display: flex;
}

.listacabecalho{
   display: flex;
   margin-left: 760px;
   margin-top: 100px;

}
.itemlistacabecalho{
  list-style: none;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 20px;
}



